In [289]:
def pyramid_1(total_row):
    increment = 1    
    for row in range(total_row,0,-1):
        for col in range(row):
            print("* ",end = "")
        print()
        for col_space in range(increment):
            print(" ",end="")
        increment+=1
        
pyramid_1(7)

* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [17]:
def pyramid_2(total_row):
    increment = 1
    for row in range(total_row,0,-1):
        for col in range(row):
            print(" ",end="")
        for col_star in range(increment):
            print("* ",end="")
        print()
        increment+=1
pyramid_2(5)

     *
    * *
   * * *
  * * * *
 * * * * *

In [32]:
def pyramid_3(total_row):
    for i in range(2*total_row):
        if i > total_row:
            x = 2*total_row - i
        else:
            x = i
        for j in range(x):
            print("* ",end = "")
        print()
        
pyramid_3(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [33]:
def pyramid_4(total_row):
    pass
        
            
pyramid_4(5)

In [39]:
def pyramid_5(total_row):
    for i in range(2*total_row):
        if i > total_row:
            x = 2 * total_row - i
        else:
            x = i
        arg = total_row - x
        for j in range(arg):
            print(" ",end = "")
        
        for u in range(x):
            print("* ",end = "")
        print()
pyramid_5(5)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [90]:
def pattern(x):
    for i in range(1,x):
        y = x - i
        for j in range(y):
            print(" ",end = "")
        for u in range(i,0,-1):
            print(u ,end="")
        for j in range(1,i):
            print(j+1 ,end = "")
        print()
pattern(7)

      1
     212
    32123
   4321234
  543212345
 65432123456

In [156]:
def pattern1(x):
    for r in range(1,2*x):
        if r > x:
            gap = 2 * x - r
        else:
            gap = r
        space = x - gap
        for i in range(space):
            print(" ",end="")
        for j in range(gap,0,-1):
            print(j , end = "")
        for u in range(1,gap):
            print(u+1 , end="")
        print()
pattern1(4)

   1
  212
 32123
4321234
 32123
  212
   1

In [171]:
def diamond(row):
    for i in range(1,2*row):
        if i > row:
            gap = 2*row - i
        else:
            gap = i
        space = row - gap
        for j in range(space):
            print(" ",end = "")
        for u in range(gap,0,-1):
            print(u ,end= "")
        for p in range(1,gap):
            print(p+1 ,end="")
        print()
diamond(5)

    1
   212
  32123
 4321234
543212345
 4321234
  32123
   212
    1

In [335]:
def printing(row):
    for i in range(row,1,-1):
        for j in range(1,i):
            print(" ",end = "")
        for z in range()
                
printing(5)

    0
   0 1
  0 1 2
 0 1 2 3
0 1 2 3 4
 0 1 2 3
  0 1 2
   0 1
    0

In [72]:
def even_pattern(x):
    var = 0
    st = 'ABCDEFGHIJKLMNO'
    no = 64
    number = 100
    for i in range(1,x):
        new_col = x - i
        for j in range(1,2*new_col-1):
            print(" ",end=" ")
        var +=i
        if i % 2 != 0:
            for u in range(var):
                no+=1
                print(chr(no) , end = "   ")
            print()
        else:
            for u in range(var-1):
                print(number , end=" ")
                number-=1
            print()
        
            
        
even_pattern(6)

                A
            100 99
        B   C   D   E   F   G
    98 97 96 95 94 93 92 91 90
H   I   J   K   L   M   N   O   P   Q   R   S   T   U   V